<h1><%= @profile.user == current_user ? 'My' : 'User ' + @profile.user.username || @profile.user.email + "'s" %> profile</h1>

<br />
<%= @profile.avatar? ? image_tag(@profile.avatar, size: "100", alt: "#{@profile.user.username || @profile.user.email}") : image_tag('man.png', size: "100", alt: "#{@profile.user.username || @profile.user.email}") %>

<br />

<h3>Name:</h3>

<p><%= @profile.full_name || 'n/a'%></p>

<h3>Email:</h3>

<p><%= @profile.user.email %></p>

<h3>Phone Number:</h3>

<p><%= @profile.phone || 'n/a'%></p>

<br />

<% if @profile.user == current_user %>
	<%= link_to "Edit Profile", edit_profile_path, class: "btn btn-lg btn-primary" %>
<% end %>
