<h1><%= belongs_to_user?(@profile) ? 'My' : 'User ' + @profile.user.email %> profile</h1>

<p><b>Name:</b> <%= @profile.full_name %></p>
<p><b>Phone Number:</b> <%= @profile.phone %></p>
<p><b>Avatar:</b> <%= image_tag @profile.avatar %></p>

<% if belongs_to_user?(@profile) %>
	<%= link_to "Edit Profile", edit_profile_path %>
<% end %>