<% # Clients of this partial must supply the following variables:
   # comment
   # user
%>

<% creator = comment.creator
   name = Commontator.commontator_name(creator) || ''
   link = Commontator.commontator_link(creator, main_app) || ''
   avatar = Commontator.commontator_avatar(creator, self) || ''
%>

<div id="comment_<%= comment.id.to_s %>_div" class="well well-sm">
  <div id="comment_<%= comment.id.to_s %>_top_div">
    <span id="comment_<%= comment.id.to_s %>_commontator_span">
      <small><b><%= link.blank? ? name : link_to(name, link) %></b></small>
    </span>
    <span id="comment_<%= comment.id.to_s %>_actions_span" class="comment_actions">
      <%= render :partial => 'commontator/comments/actions',
                 :locals => { :comment => comment,
                              :user => user } %>
    </span>
  </div>
  <div id="comment_<%= comment.id.to_s %>_middle_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_avatar_span" class="comment_avatar">
      <%= avatar %>
    </span>
    <span id="comment_<%= comment.id.to_s %>_votes_span" class="comment_votes">
      <%= render :partial => 'commontator/comments/votes',
                 :locals => { :comment => comment,
                              :user => user } %>
    </span>
    <div id="comment_<%= comment.id.to_s %>_body_div" class="comment_body">
      <%= render :partial => 'commontator/comments/body',
                 :locals => { :comment => comment } %>
    </div>
  </div>
  <br>
  <div id="comment_<%= comment.id.to_s %>_bottom_div" class="comment_div">
    <span id="comment_<%= comment.id.to_s %>_created_timestamp_span" class="">
      <small><i><%= comment.created_timestamp %></i></small>
    </span>
    <br/>
    <span id="comment_<%= comment.id.to_s %>_updated_timestamp_span" class="">
    <% if comment.is_modified? %>
      <small><i><%= comment.updated_timestamp %></i></small>
    <% end %>
    </span>
  </div>
</div>
