<h2><%= @poll.title %></h2>
<p><b>Body:</b> <%= @poll.body %></p>
<p><b>Start:</b> <%= @poll.start.to_formatted_s(:long_ordinal) %></p>
<p><b>Finish:</b> <%= @poll.finish.to_formatted_s(:long_ordinal) %></p>
    
<p><b>Poll Type: </b><%= show_poll_type(@poll) %></p> 

<p><b>User:</b> <%= @poll.user_id %></p>

<p><b>Poll ID:</b> <%= @poll.id %></p>

<p><b>Options:</b></p>
<% @poll.options.each_with_index do |option, index| %>
  <p>Opt. <%= index + 1 %>: <b><%= option.poll_option %></b>
  <% if @voted || @poll.closed? %>
    <b><span class="label label-success"><%= @votes[index] %></span></b></p>
    <% unless @votes.last == 0 %>
      <% bar_size = @votes[index] * 100 / @votes.last %>
    <% else %>
      <% bar_size = 0 %>
    <% end %>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= bar_size %>%;"><%= bar_size %>%</div>
    </div>
  <% end %> 
<% end %>

<p><b>Poll Status:</b> 
  <% case @poll.state %>
    <% when 'created' %> 
      <span style="color: orange">Voting will start at <%= @poll.start.to_formatted_s(:long_ordinal) %></span>
    <% when 'opened' %> 
      <span style="color: dodgerblue">Voting is in progress. Open 'til <%= @poll.finish.to_formatted_s(:long_ordinal) %></span>
      <!-- TODO: replace @voted -->
      <% unless @voted %>
        <%= button_to "Vote now!", voting_poll_path(@poll), method: :get, class: "btn btn-primary" %>
      <% else %>
        <p style="color: red"><b>You've already voted for this poll.</b></p>
      <% end %>
    <% when 3 %>
      <span style="color: red">Voting was closed at <%= @poll.finish.to_formatted_s(:long_ordinal) %></span>
  <% end %>
</p>

<% if current_user.is_admin? or can? :edit, @poll %>
  <div class="btn-group btn-group" role="group" aria-label="...">
    <% if (DateTime.now.to_i - @poll.created_at.to_i) < @editing_time && @poll.state == 'created' %>
      <%= link_to 'Edit', edit_poll_path(@poll), type: 'button', class: 'btn btn-primary' %>  
    <% end %>
    <%= link_to 'Destroy', @poll, method: :delete, data: { confirm: 'Are you sure?' }, 
      type: 'button', class: 'btn btn-primary' %>
    <%= link_to 'My polls', polls_path(show_me: 'my'), type: 'button', class: 'btn btn-primary' %>
    <%= link_to 'All polls', polls_path, type: 'button', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render partial: '/shared/pager', locals: { model_name: Poll, object_name: @poll } %>