<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table>
  <thead>
    <tr>
      <th>Receiver</th>
      <th>Formcomment</th>
      <th>Short dest</th>
      <th>Quickpay form</th>
      <th>Targets</th>
      <th>Payment type</th>
      <th>Sum</th>
      <th>Label</th>
      <th>Comment</th>
      <th>Successurl</th>
      <th>Need fio</th>
      <th>Need email</th>
      <th>Need phone</th>
      <th>Need address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.receiver %></td>
        <td><%= payment.formcomment %></td>
        <td><%= payment.short_dest %></td>
        <td><%= payment.quickpay_form %></td>
        <td><%= payment.targets %></td>
        <td><%= payment.payment_type %></td>
        <td><%= payment.sum %></td>
        <td><%= payment.label %></td>
        <td><%= payment.comment %></td>
        <td><%= payment.successURL %></td>
        <td><%= payment.need_fio %></td>
        <td><%= payment.need_email %></td>
        <td><%= payment.need_phone %></td>
        <td><%= payment.need_address %></td>
        <td><%= link_to 'Show', payment %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path %>
