<!--p id="notice"><%= notice %></p-->

<h3><%= @post.title %></h3>

<p><b>Body:</b>
  <%= @post.body %></p>

<p><b>User:</b>
  <%= @post.user %></p>

<p><b>Is pinned:</b>
  <%= @post.is_pinned %></p>

<p><b>Is draft:</b>
  <%= @post.is_draft %></p>

<p><b>Commentable:</b>
  <%= @post.commentable %></p>

<p><b>Comments total:</b>
  <%= @post.thread.comments.count %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= commontator_thread(@post) if @post.commentable %>
